**Ques 1**

In [ ]:
import pandas as pd
lst= [4,8,15,16,23,42]
print(pd.Series(lst))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Ques 2**

In [ ]:
import pandas as pd
lst= ["pandas",8,"pwskills",16,"assessment",42,2,43,"22Feb", 56]
print(pd.Series(lst))

0        pandas
1             8
2      pwskills
3            16
4    assessment
5            42
6             2
7            43
8         22Feb
9            56
dtype: object

**Ques 3**

In [9]:
import pandas as pd
data = { 'Name': ['Alice','Bob','Claire'] , 'Age' : [25,30,27] , 'Gender' : ['Female','Male','Female'] }
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Ques 4**


Data Structures in Pandas

Data Structure refers to the specialized way of organizing, processing, and storing data to apply specific types of functionalities to them. 

Pandas has two main types of Data Structures based on their dependability â€“

Series: 1D labeled array

DataFrame: 2D labeled tabular structure

A pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. It can also be thought of as a collection of two or more series with common indices.

In [ ]:
import pandas as pd

##### INITIALIZATION #####

fruits_jack = ["apples", "oranges", "bananas"]
fruits_john = ["guavas", "kiwis", "strawberries"]
index = ["a", "b", "c"]
all_fruits = {"Jack's": fruits_jack, "John's": fruits_john}

fruits = pd.DataFrame(all_fruits, index = index)
print(fruits, "\n")

    Jack's        John's
a   apples        guavas
b  oranges         kiwis
c  bananas  strawberries

Series

A pandas series is a one-dimensional data structure that comprises of key-value pair, where keys/labels are the indices and values are the values stored on that index. It is similar to a python dictionary, except it provides more freedom to manipulate and edit the data.

In [ ]:
import pandas as pd
fruits = pd.Series(["apples", "oranges", "bananas"])

print("Fruit series:")
print(fruits)

Fruit series:
0     apples
1    oranges
2    bananas
dtype: object

**Ques 5**

Some common functions that can be used to manipulate data in a Pandas DataFrame

1)Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.

df.dropna()

2)Merging DataFrames using merge(), arguments passed are the dataframes to be merged along with the column name.

df1 = pd.read_csv("country_code.csv")

merged_col = pd.merge(df, df1, on='Name')

merged_col

3) Renaming the columns of dataframe using rename(), arguments passed are the columns to be renamed & inplace.

4)Sorting the DataFrame using sort_values() method.

5)Apply Functions, this function is used to apply a function along an axis of dataframe whether it can be row (axis=0) or column (axis=1).

**Ques 6**

Key Features of a Series:

1)Homogeneous data
2)Size Immutable â€“size cannot be changed
3)Values of Data Mutable

Key Features of a DataFrame:

1)Heterogeneous data 
2)Size Mutable
3)Data Mutable
 

Panel in pandas:

Panel is a three-dimensional data structure with heterogeneous data.


Key Features of a Panel:

1)Heterogeneous data
2)Size Mutable
3)Data Mutable

**Ques 7**

Create DataFrame From Multiple Series

We have created two lists â€˜authorâ€™ and articleâ€™ which have been passed to pd.Series() functions to create two Series. After creating the Series, we created a dictionary and passed Series objects as values of the dictionary, and the keys of the dictionary will be served as Columns of the Dataframe.

In [ ]:
# Importing Pandas library
import pandas as pd

# Creating two lists
author = ['Jitender', 'Purnima',
		'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series,
		'Article': article_series}

# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)

# Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178